rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow unrestricted access to "activities" collection
    match /activities/{activityId} {
      allow read: if true;  // Anyone can read activities
      allow create: if true;  // Anyone can create activities
      allow update: if true;  // Anyone can update activities
      allow delete: if true;  // Anyone can delete activities
    }

    // Allow unrestricted access to "LikedPosts" collection
    match /LikedPosts/{likeId} {
      allow read, create, delete: if true;  // Anyone can read, create, or delete likes
    }
  }
}
